body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.signup-container {
  display: flex;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-left,
.signup-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.signup-left {
  flex: 0 0 65%; /* 65% width */
  background-color: #800000;
  color: white;
  padding: 40px;
  position: relative;
}

.signup-left .brand {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.signup-left .brand .logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.signup-left .brand h1 {
  margin: 0;
}

.signup-left h2 {
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.signup-form-container {
  background-color: white;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-left form {
  width: 100%;
  max-width: 400px;
}

.signup-left h2 {
  margin-bottom: 10px;
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

.input-group {
  margin-bottom: 5px;
  width: 100%;
  color: #000000;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 24px;
}

.input-group-row {
  display: flex;
  justify-content: space-between;
}

.input-group-row .input-group {
  width: 48%; /* Each input group will take 48% of the row width */
}

.checkbox-group {
  display: flex;
  align-items: center;
  color: #800000;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-group a {
  color: #800000;
  text-decoration: underline;
}

.checkbox-group a:hover {
  color: black;
}

.signup-button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #800000;
  color: black;
  cursor: pointer;
  border-radius: 24px;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #660000;
}

.signup-right {
  flex: 0 0 35%; /* 35% width */
  background-color: #ffffff;
  color: #000000;
  border-left: 1px solid #ddd;
  justify-content: center;
}

.signup-right h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 3.5rem;
}

.create {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  cursor: pointer;
  border-radius: 24px;
  text-align: center;
}

.create:hover {
  background-color: #e5e5e5;
}