body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .App-header {
    background-color: #8b0000;
    color: white;
    text-align: center;
  
    padding: 55px;
    height: 200px;
  }
  
  .App-main {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .App-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .whatsapp-link img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 10px;
    width: 200px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  