.story-local-fashion {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
  gap: 20px;
  padding: 20px;
}

.story-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex: 0;
}

.story-images .image img {
  width: 215px;
  height: 215px;
  object-fit: cover;
  border-radius: 24px;
}

.story-text {
  flex: 1;
  padding-left: 124px;
}

.story-text h1 {
  max-width: 353px;
  font-size: 48px;
  color: #1c1c1c;
  font-weight: 400;
}

.story-text p {
  font-size: 16px;
  color: #1c1c1c;
}